@import "tailwindcss";

/* Palette principale:
marrone #a0522d
limone sbiadito #f5f5dc
grigio blu #778899

Palette secondarie:
giallo ocra #daa520
terracotta chiara #cd7f32 */


main,
header,
footer {
    background-image: linear-gradient(to left, #a0512d21, black 80%, #a0512d21);

}

footer {
    margin: 0 auto;
    font-size: 120%;
}

section {
    max-width: 1800px;
    margin: 0 auto;
    padding: 30px
}

i {
    font-size: 500%;
    color: #a0522d;

}

.my-nav {
    margin: 0;
}

.active {
    text-decoration: underline;
}

.carousel.img {
    width: 600px !important;
    height: auto !important;
}

.member-social {
    font-size: 2em;
    margin: 0 10px;
}

.member-social-footer {
    font-size: 1em;
    margin-right: 10px;
    color: white;
}

#agnesia-info-wrapper>div {
    max-width: 400px;
}

.project-concept-art {
    width: 400px;
    height: 600px;
    object-fit: cover;
}


.octagon {
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.project-social {
    font-size: 150%;
}