@import "tailwindcss";

img {
    width: 100%
}

main,
header,
footer {
    background-image: linear-gradient(to left, #a0512d21, black 80%, #a0512d21);

}

i {
    font-size: 500%;
    color: #a0522d;

}

.my-nav {
    margin: 0;
}

.active {
    text-decoration: underline;
}

.carousel.img {
    width: 600px !important;
    height: auto !important;
}






/* #a0522d */